.container{
width:100%;
height:auto;
}

.img-responsive{
width:110%;
height:auto;
}

h3{
line-height:37px;
font-size:30px
}

h5{
line-height:27px;
font-size:20px;
}

.img-responsive{
width = 100%;
height:auto;
}